@charset "iso-8859-1";
body
{
	font-family: arial;
    background-color: f4f6f7;
}

a:link
{
	text-decoration: none;
}

h2 {
	padding-left: 10%; 
}

h3 {
    padding-left: 5%;
}

.tabcoulalter tr:nth-child(2n+1) {
	background-color: lightgrey;
}
.tabcoulalter {
    width: 100%;
    text-align: center;
    border: 1px solid #ddd;
}

#detail {
    font-family: Arial;
    border-collapse: collapse;
    width: 100%;
}

#detail th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #239b56;
    color: white;
}

#detail tr:nth-child(even) {
    background-color: #d5f5e3;
}

#detail td {
	text-align: center;
	width: 30%;
    border: 1px solid #abebc6;
    padding: 8px;
}

#cal {
    font-family: Arial;
    border-collapse: collapse;
    width: 100%;
}

#cal th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #239b56;
    color: black;
}

#cal tr:nth-child(even) {
    background-color: #d5f5e3;
}

#cal td {
	text-align: center;
	width: 30%;
    border: 1px solid #abebc6;
    padding: 8px;
}

#date {
    font-family: Arial;
    border-collapse: collapse;
    width: 100%;
}

#date th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #F7F9F9;
    color: black;
}

#date td {
    width: 10px;
    text-align: center;
    border: 1px solid #000;
}

#typmob {
    font-family: Arial;
    border-collapse: collapse;
    width: 100%;
}

#typmob th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #239b56;
    color: black;
}

#typmob tr:nth-child(even) {
    background-color: #d5f5e3;
}

#typmob td {
    padding: 15px;
    text-align: center;
    border: 1px solid #abebc6;
}

#reservation {
    font-family: Arial;
    border-collapse: collapse;
    width: 100%;
}

#reservation th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #239b56;
    color: black;
}

#reservation tr:nth-child(even) {
    background-color: #d5f5e3;
}

#reservation td {
    padding: 15px;
    text-align: center;
    border: 1px solid #abebc6;
}

.disp {
    background-color: green;
    color: #fff;
}

.ndisp {
    background-color: red;
    color: #fff;
}


.nbpertypmob {
    padding: 15px;
    background-color: #d5f5e3;
    border: 1px solid #abebc6;
    border-radius: 10px;
}
